<!-- footer Start -->
<footer id="footer" class="footer" role="contentinfo">
	<div id="footer-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="widget">
						<div class="corporate-widget">
							<div class="row">
								<div class="col-md-12" style="height:100px;">
								<a class="text-uppercase" href="/" title="Athletes In Action"> 
									<img class="img-responsive" src="/img/athletesinaction-home.svg" alt="AIA" width="180px" height="68px"></a><!-- End .footer-logo -->                                                    </div>
								<div class="col-md-12" style="text-align: left;">
									<p>Our mission is to build spiritual movements everywhere through the platform of sports so that everyone knows someone who truly follows Jesus.</p>
									<address>© <script>document.write(new Date().getFullYear());</script> <br>651 Taylor Drive Xenia, OH 45385<br> 937.352.1000</address>
								</div>
							</div>  
						</div><!-- End corporate-widget -->
					</div><!-- End .widget -->
				</div><!-- End .col-md-3 -->
				<div class="col-md-offset-4 col-sm-offset-4 col-sm-4 col-md-4" style="text-align: left;">
					<div class="widget">
						<h4>Other AIA Sites</h4>
						<ul class="links list-unstyled">
							<li><a href="http://athletesinaction.org"><i class="fa fa-angle-right"></i> AthletesInAction.org</a></li>
							<li><a href="http://woodenfamilyfieldhouse.com"><i class="fa fa-angle-right"></i> Wooden Family Fieldhouse</a></li>
							<li><a href="http://aiasportscomplex.com"><i class="fa fa-angle-right"></i> Sports Complex and Retreat Center</a></li>
							<li><a href="http://goaia.org/campus"><i class="fa fa-angle-right"></i> Find AIA on Campus</a></li>
							<li><a href="http://teamblogs.athletesinaction.org"><i class="fa fa-angle-right"></i> AIA Team Blogs</a></li>
						</ul>
					</div> 
					<span class="social-icons-label text-muted">Find Us at:</span>
					<ul class="social-icons list-inline radio">
							<li class="list-inline-item"><a href="http://facebook.com/athletesinaction" class="social-icon icon-facebook" title="Facebook"> 
							<i class="fa fa-facebook fa-2x"></i> </a> </li>	
							<li class="list-inline-item"><a href="http://twitter.com/aiausa" class="social-icon icon-twitter" title="Twitter"> 
							<i class="fa fa-twitter fa-2x"></i> </a> </li>
							<li class="list-inline-item"><a href="https://plus.google.com/+athletesinaction" class="social-icon icon-google-plus" title="Google Plus"> 
							<i class="fa fa-google-plus fa-2x"></i> </a> </li>
					</div><!-- End .social-icons --><!-- End .widget -->
				</div><!-- End .col-md-3 -->
				<div class="clearfix visible-sm"></div><!-- End .clearfix -->
				<div class="col-md-3 col-sm-6">
				</div><!-- End .col-md-3 -->
				<div class="col-md-3 col-sm-6">
				</div><!-- End .col-md-3 -->
			</div><!-- End .row -->
		</div><!-- End .container -->
	</div><!-- End #footer-inner -->
</footer>
<!-- Js -->
<script src="{{ site.baseurl }}/js/jquery-2.1.4.min.js"></script>
<script src="{{ site.baseurl }}/js/idangerous.swiper.min.js"></script>
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/js/imagelightbox.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.classycountdown.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.knob.js"></script>
<script src="{{ site.baseurl }}/js/jquery.throttle.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>  
<script src="{{ site.baseurl }}/js/global.js"></script>
<script src="{{ site.baseurl }}/js/anchors.navigation.js"></script> 
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3428289-23"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-3428289-23');
</script>


