<!-- footer Start -->
<footer class="footer">
    <div class="container">
    		<img class="f-logo" src="img/footer_yellow.png" alt="">
    		<div class="copy">© 2015 All rights reserved. NRGEVENT</div>
    	</div>
</footer>
<!-- Js -->
<script src="{{ site.baseurl }}/js/jquery-2.1.4.min.js"></script>
<script src="{{ site.baseurl }}/js/idangerous.swiper.min.js"></script>
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/js/imagelightbox.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.classycountdown.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.knob.js"></script>
<script src="{{ site.baseurl }}/js/jquery.throttle.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>  
<script src="{{ site.baseurl }}/js/global.js"></script>
<script src="{{ site.baseurl }}/js/anchors.navigation.js"></script> 


