<!-- Header Start -->
<header class="header scrolled">
<div class="container">
    <div class="logo-block">
      <a class="logo" href="/"><img src="{{ site.baseurl }}/img/NoC_FullColor_RGB.png" alt=""></a>
    </div>
    <nav class="main-nav">
      <ul class="anchor-navigation">
          <li class=""><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/inductees/">Inductees</a></li>
          <li><a href="{{ site.baseurl }}/program">Program</a></li>
          <li><a href="{{ site.baseurl }}/sponsors">Sponsors</a></li>
          <li><a href="{{ site.baseurl }}/#pricing">Reservations</a></li>
          <li><a href="{{ site.baseurl }}/logistics">Logisitics</a></li>
          <li><a href="{{ site.baseurl }}/silent-auctions">Silent Auction</a></li>
      </ul>				
    </nav>
    <button class="cmn-toggle-switch"><span></span></button>
  </div>
</header><!-- header close -->
