<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include base/head.html %}

  </head>
  <body data-color="blue">


    {% include base/header.html %}


    {{ content }}









    {% include base/footer.html %}
    <script type="text/javascript">
      $(document).ready(function(){
          $('.fullwidth').each(function() {
              var img = $(this).parent().html();
              $(this).unwrap();
              document.body.innerHTML = document.body.innerHTML.replace(img, 
                  '</div></div></div>'+img+'<div class="content-wrapper container"><div class="row page"><div class="col-md-12">');
          });
      });
  </script>
    </body>
</html>
