<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}
<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp center-text bold">Legends of the Hardwood <br />Breakfast </h1>
          <p class="animated fadeInUp center-text">Saturday, April 1st, 2017</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2 class="indexColor">You're Invited</h2>
            <p> to get up close and personal with basketball legends, coaches and current players at the 21st annual Legends of the Hardwood Breakfast!</p>
          </div>
          <p>Get a look at basketball and prepare to be inspired, entertained, and challenged as sport leaders discuss character, integrity and faith in sports and life. This event is the only one if its kind during the Final Four weekend that is open to the public! <a href="#">Click here</a> to reserve your seats now, as this event will sell-out!</p>
          <h3 class="bold indexColor">Phoenix Convention Center <br />West Ballroom <br /> Saturday April 1st, 2017 <br /> 8:30 am</h3>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/pccLogo.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
<!--- Call to action start --->

<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Check out highlights from this event over the years!</h2>
          <div class="row">
            <div class="col-md-12">
              <h5 class="center-text"> Watch our promo video to get a sneak peak of what to expect this year!</h5>
            </div>
          </div>
          <a class="btn btn-default btn-call-to-action" href="#" >Watch Here </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--- Call to action .end -->

<!--- Content Start --->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="ion-ios-chatboxes-outline"></i>
                <h4 class="counter">20000</h4>
                <span>Cups Of Coffee</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-ios-glasses-outline"></i>
                <h4 class="counter">20000</h4>
                <span>Cups Of Coffee</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-ios-compose-outline"></i>
                <h4 class="counter">20000</h4>
                <span>Cups Of Coffee</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-ios-timer-outline"></i>
                <h4 class="counter">20000</h4>
                <span>Cups Of Coffee</span>
              </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                <div class="user">
                  <img src="img/item-img1.jpg" alt="Pepole">
                  <p><span>Rose Ray</span> CEO-Themefisher</p>
                </div>
            </div>
            <div>
              <img src="img/cotation.png" alt="IMG">
                <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                <div class="user">
                  <img src="img/item-img1.jpg" alt="Pepole">
                  <p><span>Rose Ray</span> CEO-Themefisher</p>
                </div>
            </div>
            <div>
              <img src="img/cotation.png" alt="IMG">
                <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                <div class="user">
                  <img src="img/item-img1.jpg" alt="Pepole">
                  <p><span>Rose Ray</span> CEO-Themefisher</p>
                </div>
            </div>
            <div>
              <img src="img/cotation.png" alt="IMG">
                <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                <div class="user">
                  <img src="img/item-img1.jpg" alt="Pepole">
                  <p><span>Rose Ray</span> CEO-Themefisher</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </section>
<!-- Call to action .end -->
<section id="feature">

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <img src="img/ktl-award2.png" alt="Img">
    </div>
    <div class="col-md-6">
      <h2 style="color:white">Coach Wooden "Keys to Life" Award</h2>
      <p style="color:white">The Coach Wooden "Keys to Life" Award is named in honor of legendary basketball coach John Wooden. During his years at UCLA, Coach wooden guided the Bruins to 10 National Championships (seven consecutive) as well as 19 conference titles.</p>
      <p style="color:white">This Award is presented annually to a member of the college or professional basketball community who lives out qualities exemplefied by Coach Wooden; oustanding character, integrity, and leadership on the court, in the work place, in the home, and in the community. To learn more about Coach Wooden, visit his website below.</p>
      <!-- Not sure how to title this button link to woodens website-->
      <a href="#" class="btn btn-view-works">Learn More</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2 class="indexColor">Make a Reservation</h2>
        <p>There are a variety of tables and ticketing options that will serve you and your team well. Click below to make a reservation and be our guest at this year's Legends Breakfast!</p>
      </div>
    </div>
    <div class="row" style="margin-top: 5%; margin-bottom: 5%;">
      <div class="col-sm-6 col-md-3">
        <div class="service-item reservationBox">
          <h3><strong>Three-Point Table</strong></h3>
          <h5>A table of 10</h5>
          <i style="color:#B9770E" class="ion-ios-pricetags"></i>
          <h2>$2000</h2>
          <p>Premier Seating<br /> Free Autographed Ball</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item reservationBox">
          <h3><strong>Free-Throw Table</strong></h3>
          <h5>A table of 10</h5>
          <i style="color:#B9770E" class="ion-ios-pricetags-outline"></i>
          <h2>$1000</h2>
          <p>Premier Seating<br /> Free Autographed Ball</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item reservationBox">
          <h3><strong>Three-Point Ticket</strong></h3>
          <h5>Per Seat</h5>
          <i style="color:#B9770E" class="ion-ios-pricetag"></i>
          <h2>$200</h2>
          <p>Premier Seating<br /> Free Autographed Ball</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item reservationBox">
          <h3><strong>Free-Throw Table</strong></h3>
          <h5>Per Seat</h5>
          <i style="color:#B9770E" class="ion-ios-pricetag-outline"></i>
          <h2>$100</h2>
          <p>Premier Seating<br /> Free Autographed Ball</p>
        </div>
      </div>
    </div>
    <!-- end reservation boxes -->
  </div>
</section>
<!-- Call to action Start -->


 --->
    {% include footer.html %}
</body>

</html>
