<!DOCTYPE html>
<html>
<head>
  {% include base/head.html %}
</head>

<body>
  {% include base/header.html %}
<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp center-text bold">{{ site.title }} </h1>
          <p class="animated fadeInUp center-text">{{ site.EventDate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include base/footer.html %}
</body>

</html>
