<!DOCTYPE html>
<html>
<head>
  {% include base/head.html %}
  <style type="text/css">
    .banner-title, .banner-sub { color: #cc993a !important; }
    .banner-date { color: #fff; }
  </style>
</head>

<body data-color="red">
  {% include base/header.html %}
<!-- Slider Start -->
<div id="content-wrapper">
  <div id="hightlights" >
    <div class="main-slider clearfix">
      <div class="fullheight">
        <img class="center-image" src="img/NOCHome.jpg" alt="">
        <div class="dotted"></div>
        <div class="vertical-align">
          <div class="container">
              <div class="banner-block style-4">
                <h4 class="banner-date delay-2">May 12, 2018</h4>
                <h2 class="banner-title">Night of Champions</h2>
                <h4 class="banner-date banner-sub delay-3">and the Induction into the Hall of Faith</h4>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="counter-wrapper style-2 clearfix hidden-xs">
      <div class="conteiner">
        <div class="counter-title-block">
          <h4 class="counter-title">Countdown until the Event:</h4>
        </div>
        <div class="counters-block clearfix">
          <div id="countdown" class="ClassyCountdown" data-style="dark"></div>
        </div>				
      </div>
    </div>     
    <div class="main-block clearfix">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
              <div class="block-header style-2">
                <h4 class="block-category">About the Event</h4>
                <div class="block-text">
                  <p>Night of Champions honors athletes and coaches for more than just their athletic ability. It lifts up
                    important personal values such as character, integrity, and faith while honoring heroes that are true role
                    models in the world of sports. This event provides an opportunity for executives, clients, and friends to
                    “get up close and personal” with some of the greatest sports legends. </p>
                  <p>The evening features the induction of one female and one male into the Athletes in Action Hall of Faith.
                    These individuals display character, integrity, and faith on and off the</p>

                </div>
              </div>
            </div>
        </div>
      </div>			
    </div>
    <div id="speakers" class="main-block style-2 bg-grey clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="block-header style-2">
                        <h4 class="block-category">Our Inductees</h4>
                        <h2 class="block-title">Class of 2017</h2>
                        <div class="block-text">
                          Hall of Faith inductees are household names, but their outstanding accomplishments expand beyond their performance in competition. This ceremony recognizes individuals that live a life of faith, demonstrate exceptional character and an unwavering ability to exemplify integrity.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-wrapper">
          <div class="container">
            <div class="row">
                {% for post in site.inductees limit:2 %}
                  <div class="col-xs-12 col-sm-6">
                    <div class="team-entry">
                      <a class="team-img"><img class="img-responsive" src="{{ post.img }}" alt=""></a>
                      <a class="team-title" href="{{ post.url }}">{{ post.title }}</a>
                      <a class="team-pos">{{ post.year }}</a>
                      <div class="team-text">{{ post.content | strip_html | truncate: 200, '...' }}</div>
                    </div>
                  </div>
                {% endfor %}
            </div>          			
          </div>
        </div>           
    </div>
    <div id="pricing" class="main-block style-2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="block-header style-2">
                        <h4 class="block-category img-full">Reservations</h4>
                        <h2 class="block-title">Ticket Prices</h2>
                        <div class="block-text">Online Ordering Coming Soon!</div>
                    </div>
                </div>
            </div>
         </div>
    </div>
  </div>
{% include base/footer.html %}
</body>

</html>
