---
layout: default
---

<div class="content-wrapper container">
<div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="block-header style-2">
            <h2 class="block-category">{{ page.title }}</h2>
            <div class="block-text">{{ page.year }} Inductee</div>
            </div>
        </div>
    </div>
    <div class="row page">
        <div class="col-md-12">
            <img class="col-md-3 col-sm-6 col-xs-8 pull-right" src="{{ page.img }}" />
            {{ content }}
        </div>
        <div class="col-md-12 text-center" style="margin-bottom: 15px;">
                <a class="c-btn b-50 yellow" href="/inductees/">Back to Inductees</a>
        </div>  
    </div>  
</div>
