---
layout: default
---

<div class="content-wrapper container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="block-header style-2">
            <h2 class="block-category">Media & Press</h2>
            </div>
        </div>
    </div>
    <div class="row page">
        <div class="col-md-9">
            {{ content }}
        </div>
        <div class="col-md-3 text-center" style="margin-bottom: 15px;">
                For Media Inquires, please contact <br />
                <b>Becky Arnett</b><br />
                937.266.8369
        </div>  
    </div>  
</div>
